.battery {
    width: 33px;
    height: 17px;
    padding: 2px;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    transition: $dur $ease;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    outline: 1px solid #9da0ae;

    &::after {
        content: '';
        width: 3px;
        height: 5px;
        position: absolute;
        right: -3px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #9da0ae;
        border-radius: 0 5px 5px 0;
        transition: $dur $ease;
    }
}

.battery__list {
    display: flex;
}

.battery__item {
    width: 2px;
    height: 13px;
    margin-right: 1px;

    &:last-of-type {
        margin-right: 0;
    }

    &:nth-child(1) {
        background-color: #f6ad43;
    }

    &:nth-child(2) {
        background-color: #dca94b;
    }

    &:nth-child(3) {
        background-color: #c4a653;
    }

    &:nth-child(4) {
        background-color: #a9a25a;
    }

    &:nth-child(5) {
        background-color: #93a061;
    }

    &:nth-child(6) {
        background-color: #7d9d68;
    }

    &:nth-child(7) {
        background-color: #639970;
    }

    &:nth-child(8) {
        background-color: #4b9677;
    }
    
    &:nth-child(9) {
        background-color: #31937f;
    }

    &:nth-child(10) {
        background-color: #179088;
    }
}